<h1>Cuisines</h1>
<hr />
<form class="cuisines" action="/" method="post">
  <label for="cuisines">Add a cuisine</label>
  <input type="text" name="cuisines">
  <button type="submit" name="button">Enter</button>
</form>

<form action="/delete" method="post">
  <button type="submit" name="button">Delete All</button>
</form>

<ul>
  @if (Model.Count != 0)
  {
    @foreach (var cuisines in Model)
    {
      <li><a href="/cuisines/@cuisines.GetId()">@cuisines.GetType()</a> | <a href="/cuisines/edit/@cuisines.GetId()">Edit</a></li>
    }
  }
</ul>
